nav>a{
    color: black;
    position: relative;
}

nav>a:hover{
    color: blue;
}

h1{
    color: brown;
    align-content: center;
    padding-left: 150px;
    padding-right: 150px;
}
